### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/

# Игнорировать node_modules
node_modules/

# Игнорировать файлы сборки
android/build/
ios/build/
lib/
*.log

# Игнорировать файлы временного хранения
android/app/build/
ios/Pods/
ios/build/

# Игнорировать файлы окружения
.env*

# Игнорировать файлы настроек редакторов
.vscode/
.idea/

# Игнорировать файлы зависимостей
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать файлы конфигурации
*.iml
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries
*.idea/vcs.xml
.idea/

# Игнорировать файлы Gradle
**/android/app/build/
**/android/captures/
**/android/gradle.properties
**/android/gradle-wrapper.properties
**/android/local.properties
**/android/.gradle
**/android/.idea
.jks

# Игнорировать файлы Xcode
**/ios/*.pbxuser
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.perspectivev3
**/ios/xcuserdata/
**/ios/*.xccheckout
**/ios/*.xcworkspace
**/ios/*.xcodeproj/xcuserdata/
**/ios/*.xcodeproj/project.xcworkspace/
**/ios/DerivedData/
**/ios/build/

.DS_Store
